<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.generate.dao.BaseRefUserGroupMapper">
  <resultMap id="BaseResultMap" type="com.example.mybatis.generate.domain.BaseRefUserGroup">
    <id column="group_id" jdbcType="BIGINT" property="groupId" />
    <id column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from base_ref_user_group
    where group_id = #{groupId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.mybatis.generate.domain.BaseRefUserGroup">
    insert into base_ref_user_group (group_id, user_id)
    values (#{groupId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select group_id, user_id
    from base_ref_user_group
  </select>
</mapper>