<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.generate.dao.BaseRefUsersRolesMapper">
  <resultMap id="BaseResultMap" type="com.example.mybatis.generate.domain.BaseRefUsersRoles">
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <id column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from base_ref_users_roles
    where role_id = #{roleId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.mybatis.generate.domain.BaseRefUsersRoles">
    insert into base_ref_users_roles (role_id, user_id)
    values (#{roleId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, user_id
    from base_ref_users_roles
  </select>
</mapper>