<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xmlns:task="http://www.springframework.org/schema/task"

       xmlns="http://www.springframework.org/schema/beans"

       xsi:schemaLocation="
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.0.xsd

       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-4.0.xsd"
       default-lazy-init="true">


    <description>spring java mail</description>

    <!--
        https://java.net/projects/javamail/pages/Home

     java mail属性设置
     https://javamail.java.net/nonav/docs/api/com/sun/mail/smtp/package-summary.html
    上面的 host，username,password,port属性，是 JavaMailSenderImpl 包装好的属性，没有包装的属性，通过 javaMailProperties 来设置.

    注意 ： mail.smtp.from 不能设置在 javaMailProperties 中 ，测试发现： QQ邮箱发送之后，接收方为 QQ 邮箱时，接收到的邮件没有发件人，outlook 邮箱会拒收。但用 163 邮箱发送没问题。
    解决：到实现方法中设置，不设在配置文件中
    -->

    <!-- 163 普通账号，测试通过
     <property name="host" value="smtp.163.com"/>
     <property name="port" value="25"/>
     <property name="username" value="capitalstd"/>
     <property name="password" value="1236500"/>
 -->


    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">

        <!-- qq 邮箱，ssl 方式发信
           qq 邮箱发信，需要设置和 QQ 号码不同的单独密码，需要以 web 方式开启
        -->
        <property name="host" value="smtp.qq.com"/>
        <property name="username" value="84579197"/>
        <property name="password" value="jianghui1"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.ssl.enable">true</prop>
                <prop key="mail.smtp.ssl.socketFactory.port">465</prop>
            </props>
        </property>

        <!--  163
         <property name="host" value="smtp.163.com"/>
        <property name="port" value="25"/>
        <property name="username" value="xxx"/>
        <property name="password" value="xxx"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">false</prop>
                <prop key="mail.smtp.starttls.enable">false</prop>
            </props>
        </property>

        -->
    </bean>


    <!--
     模板发送 email
     http://velocity.apache.org/
    -->
    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <props>
                <prop key="resource.loader">class</prop>
                <prop key="class.resource.loader.class">
                    org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
                </prop>
            </props>
        </property>
    </bean>

</beans>