<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:task="http://www.springframework.org/schema/task"

       xmlns="http://www.springframework.org/schema/beans"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-4.0.xsd"
       default-lazy-init="true">


    <description>Spring 模版配置，其他项目在此基础上修改，参考 Spring side4，做了修改，不要照搬</description>


    <!-- xml 方式配置 task ，注意类名开头字母小写 -->
    <!--
    对应容器管理的bean: TaskExample
    -->
    <!--
    cron="0 0 0/6 * * ?" 每 6 小时执行一次
    cron="0 */6 * * * ?" 每 6 分钟执行一次
    cron="*/6 * * * * ?" 每 6 秒执行一次

    "0 0 * * * *" = the top of every hour of every day.
"*/10 * * * * *" = every ten seconds.
"0 0 8-10 * * *" = 8, 9 and 10 o'clock of every day.
"0 0/30 8-10 * * *" = 8:00, 8:30, 9:00, 9:30 and 10 o'clock every day.
"0 0 9-17 * * MON-FRI" = on the hour nine-to-five weekdays
"0 0 0 25 12 ?" = every Christmas Day at midnight
    -->

    <task:scheduled-tasks scheduler="myScheduler">
        <task:scheduled ref="taskExample" method="job1" cron="*/2 * * * * ?"/>
    </task:scheduled-tasks>
    <task:scheduler id="myScheduler" pool-size="10"/>

</beans>