# https://help.github.com/articles/my-repository-is-marked-as-the-wrong-language/
# github 通过 https://github.com/github/linguist#troubleshooting 自动探测 repository 中所有的文件类型，文件类型最多的就设为 repository 类型
# 强制设所有的文件类型为 Java
*.* linguist-language=Java