<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %caller{1} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.h819" level="info"/>


    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>