<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<title>信息跟踪助手邮件通知 http://info.canhelp.cn  </title>
<style type="text/css">
table.gridtable {
	font-family: verdana, arial, sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
	font-size: 12px;
	font-family: Arial, sans-serif;
	color: #666666;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
	line-height: 19px;
	color: #444444;
	font-size: 12px;
	font-weight: normal;
	valign : top;
	align : left;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
</style>
<title>无标题文档</title>
</head>
<body style="font-family: Arial, sans-serif; font-size:13px; color: #444444; min-height: 200px;" bgcolor="#E4E6E9" leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
<!-- Table goes in the document BODY -->
<table width="100%" border="0">
  <tr>
    <td align="center"><table width="800">
        <tr>
          <td class="header-row-td" width="600" style="font-family: Arial, sans-serif; font-weight: normal; line-height: 19px; color: #6397bf; margin: 0px; font-size: 18px; padding-bottom: 8px; padding-top: 10px;" valign="top" align="left">${username}</td>
        </tr>
        <tr>
          <td class="table-col-td" width="600" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal;" valign="top" align="left"><i style="color: #a94442;">您在 http://info.canhelp.cn 的订阅有更新，信息每天推送两次，推送过的信息请登陆网站查看。</i></td>
        </tr>
      </table>
      <!-- Table goes in the document BODY -->
      <table width="800" class="gridtable">
        <tr>
          <th>消息</th>
          <th>来源</th>
          <th>发布日期</th>
        </tr>
        #foreach( $info in $contents )
        <tr>
          <td><a href="$info.herf" target="_blank">$info.title </a></td>
          <td>$info.websitename</td>
          <td>$dateTool.format("yyyy-MM-dd",$info.issueTime)</td>
        </tr>
        #end
      </table>
      <table class="table-row" width="800" bgcolor="#FFFFFF" style="table-layout: fixed; background-color: #ffffff;" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr>
            <td class="table-row-td" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding-left: 36px; padding-right: 36px;" valign="top" align="left"><table class="table-col" align="left" width="254" style="padding-right: 18px; table-layout: fixed;" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td class="table-col-td" width="254" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal;" valign="top" align="left"><table class="header-row" width="255" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                        <tbody>
                          <tr>
                            <td class="header-row-td" width="255" style="font-family: Arial, sans-serif; font-weight: normal; line-height: 19px; color: #478fca; margin: 0px; font-size: 12px; padding-bottom: 8px; padding-top: 10px;" valign="top" align="left">微信</td>
                          </tr>
                        </tbody>
                      </table>
                      <div style="font-family: Arial, sans-serif; line-height: 36px; color: #444444; font-size: 13px;"><img src="http://www.canhelp.cn/info/static/images/canhelp.cn.info.weixin.jpg" alt="" width="80" height="80" hspace="0" vspace="0" border="0" class="pull-right" style="" /></div></td>
                  </tr>
                </tbody>
              </table>
              <table class="table-col" align="left" width="254" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                <tbody>
                  <tr>
                    <td class="table-col-td" width="254" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal;" valign="top" align="left"><table class="header-row" width="255" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                        <tbody>
                          <tr>
                            <td class="header-row-td" width="255" style="font-family: Arial, sans-serif; font-weight: normal; line-height: 12px; color: #478fca; margin: 0px; font-size: 12px; padding-bottom: 8px; padding-top: 10px;" valign="top" align="left">联系我们</td>
                          </tr>
                        </tbody>
                      </table>
                      <p>web: <a href="http://www.canhelp.cn/info" target="_blank" style="color: #8aafce; text-decoration: none; margin: 0px; text-align: center; ">http://info.canhelp.cn/</a><br />
                        Email: h81900[括号换成@]outlook.com<br />
                        QQ群 : 84579197</p></td>
                  </tr>
                </tbody>
              </table></td>
          </tr>
        </tbody>
      </table></td>
  </tr>
</table>
</body>
</html>
