<STYLE type="text/css">
    BODY {
        font-size: 14px;
        line-height: 1.5
    }
</STYLE>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css" media="all">
        a:hover {
            color: red;
        }
        a {
            text-decoration: none;
            color: #0088cc;
        }
        a.primaryactionlink:link, a.primaryactionlink:visited {
            background-color: #2585B2;
            color: #fff;
        }
        a.primaryactionlink:hover, a.primaryactionlink:active {
            background-color: #11729E !important;
            color: #fff !important;
        }

        /*
            @media only screen and (max-device-width: 480px) {
                 .post { min-width: 700px !important; }
            }
        */
    </style>
    <title>WordPress.com</title>
    <!--[if gte mso 12]>
    <style type="text/css" media="all">
        body {
            font-family: arial;
            font-size: 0.8em;
        }
        .post, .comment {
            background-color: white !important;
            line-height: 1.4em !important;
        }
    </style>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="subscription-body-tag ltr"  style="direction:ltr; margin: 0; padding: 0; width: 100% !important;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#DDDDDD"  style="width: 100%; background: #DDDDDD;">
    <tr>
        <td><table border="0" cellspacing="0" cellpadding="0" align='center'  class="subscribe-body" width="550" style="width: 100%; padding: 10px;">
            <tr>
                <td><div style="direction:ltr; max-width: 600px; margin: 0 auto;">
                    <table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"  class="subscribe-wrapper" style="width: 100%; background-color: #fff; text-align: left; margin: 0 auto; max-width: 1024px; min-width: 320px;">
                        <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" height="8" background="http://s.wordpress.com/i/emails/stripes.gif"  class="subscribe-header-wrap" style="width: 100%; background-image: url( 'http:/s.wordpress.com/i/emails/stripes.gif'); background-repeat: repeat-x; background-color: #43A4D0; height: 8px;">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="subscribe-header" style="width: 100%; background-color: #EFEFEF; padding: 0; border-bottom: 1px solid #DDD;">
                                    <tr>
                                        <td><h2 style="padding: 0; margin: 5px 20px; font-size: 16px; line-height: 1.4em; font-weight: normal; color: #464646; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"  class="subscribe-title">Please confirm your subscription for <a style="text-decoration: underline; color: #2585B2;"  href="http://howtodoinjava.com"><strong>How To Do In Java</strong></a></h2></td>
                                        <td style="vertical-align: middle;" height="32" width="32" valign="middle" align="right"><a style="text-decoration: underline; color: #2585B2;"  href="http://howtodoinjava.com"> <img border="0" class="head-avatar" src="http://s.wordpress.com/i/emails/blavatar-default.png" alt=""  / style="margin: 5px 20px 5px 0; vertical-align: middle; vertical-align: middle;"> </a></td>
                                    </tr>
                                </table>
                                <table style="width: 100%;"  width="100%" border="0" cellspacing="0" cellpadding="20" bgcolor="#ffffff">
                                    <tr>
                                        <td><table style="width: 100%;"  border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td valign="top"><p style="direction:ltr; font-size: 14px; line-height: 1.4em; color: #444444; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; margin: 0 0 1em 0;">Howdy.<br />
                                                    <br />
                                                    You recently followed this blog's posts. This means you will receive each new post by email.<br />
                                                    <br />
                                                    To activate, click confirm below. If you believe this is an error, ignore this message and we'll never bother you again.</p>
                                                    <p style="direction:ltr; font-size: 14px; line-height: 1.4em; color: #444444; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; margin: 0 0 1em 0;"> <strong>Blog Name: </strong> How To Do In Java<br />
                                                        <strong>Blog URL: </strong> http://howtodoinjava.com </p>
                                                    <p class="subscribe-action-links"  style="direction:ltr; font-size: 14px; line-height: 1.4em; color: #444444; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; margin: 0 0 1em 0; font-size: 14px; padding: 0; color: #666; padding-top: 1em; padding-bottom: 0em; margin-bottom: 0; margin-left: 0; padding-left: 0;"> <a href="https://subscribe.wordpress.com/?key=55826c2023ebf3e383688a5ef20f75f3&amp;email=h81900%40outlook.com&amp;activate=625201bebc29e59194ee8455e3f2c538" style="text-decoration: underline; color: #2585B2; -moz-border-radius: 10em; -webkit-border-radius: 10em; border-radius: 10em; border: 1px solid #11729E; text-decoration: none; color: #fff; text-shadow: 0 1px 0 #11729E; background-color: #2585B2; padding: 5px 15px; font-size: 16px; line-height: 1.4em; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal; margin-left: 0;">Confirm Follow</a> </p>
                                                    <p style="direction:ltr; font-size: 14px; line-height: 1.4em; color: #444444; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; margin: 0 0 1em 0;"><br />
                                                        If you want to see all of the blogs you follow on the web in one easy place, <a style="text-decoration: underline; color: #2585B2;"  href="http://wordpress.com/signup/?ref=lof">sign up for a WordPress.com account</a>.</p></td>
                                            </tr>
                                        </table></td>
                                    </tr>
                                </table>
                                <!-- top posts -->
                                <table border="0" cellspacing="0" width='550' cellpadding="20" bgcolor="#efefef"  class="subscribe-wrapper-sub" style="width: 100%; background-color: #efefef; text-align: left; border-top: 1px solid #dddddd;">
                                    <tr>
                                        <td class="subscribe-content"  style="border-top: 1px solid #f3f3f3; color: #888; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; background: #efefef; margin: 0; padding: 10px 20px 0;"><p style="direction:ltr; font-size: 14px; line-height: 1.4em; color: #444444; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; margin: 0 0 1em 0;"> <strong>Want less email?</strong> Modify your <a style="text-decoration: underline; color: #2585B2;"  href="https://subscribe.wordpress.com/?key=55826c2023ebf3e383688a5ef20f75f3&amp;email=h81900%40outlook.com">Subscription Options</a>. </p></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="3" background="http://s.wordpress.com/i/emails/stripes.gif"  class="subscribe-footer-wrap" style="width: 100%; background-image: url( 'http://s.wordpress.com/i/emails/stripes.gif'); background-repeat: repeat-x; background-color: #43A4D0; height: 3px;">
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </div></td>
            </tr>
        </table></td>
    </tr>
</table>
</body>
</html>