<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<title></title>
<style type="text/css">
body {
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
 @media only screen and (max-width: 600px) {
 table[class="table-row"] {
 float: none !important;
 width: 98% !important;
 padding-left: 20px !important;
 padding-right: 20px !important;
}
 table[class="table-row-fixed"] {
 float: none !important;
 width: 98% !important;
}
 table[class="table-col"], table[class="table-col-border"] {
 float: none !important;
 width: 100% !important;
 padding-left: 0 !important;
 padding-right: 0 !important;
 table-layout: fixed;
}
 td[class="table-col-td"] {
 width: 100% !important;
}
 table[class="table-col-border"] + table[class="table-col-border"] {
 padding-top: 12px;
 margin-top: 12px;
 border-top: 1px solid #E8E8E8;
}
 table[class="table-col"] + table[class="table-col"] {
 margin-top: 15px;
}
 td[class="table-row-td"] {
 padding-left: 0 !important;
 padding-right: 0 !important;
}
 table[class="navbar-row"], td[class="navbar-row-td"] {
 width: 100% !important;
}
 img {
 max-width: 100% !important;
 display: inline !important;
}
 img[class="pull-right"] {
 float: right;
 margin-left: 11px;
 max-width: 125px !important;
 padding-bottom: 0 !important;
}
 img[class="pull-left"] {
 float: left;
 margin-right: 11px;
 max-width: 125px !important;
 padding-bottom: 0 !important;
}
 table[class="table-space"], table[class="header-row"] {
 float: none !important;
 width: 98% !important;
}
 td[class="header-row-td"] {
 width: 100% !important;
}
}
 @media only screen and (max-width: 480px) {
 table[class="table-row"] {
 padding-left: 16px !important;
 padding-right: 16px !important;
}
}
 @media only screen and (max-width: 320px) {
 table[class="table-row"] {
 padding-left: 12px !important;
 padding-right: 12px !important;
}
}
 @media only screen and (max-width: 608px) {
 td[class="table-td-wrap"] {
 width: 100% !important;
}
}
</style>
</head>
<body style="font-family: Arial, sans-serif; font-size:13px; color: #444444; min-height: 200px;" bgcolor="#E4E6E9" leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
<table width="100%" height="100%" bgcolor="#E4E6E9" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td width="100%" align="center" valign="top" bgcolor="#E4E6E9" style="background-color:#E4E6E9; min-height: 200px;"><table>
        <tr>
          <td class="table-td-wrap" align="center" width="608"><table class="table-row" style="table-layout: auto; padding-right: 24px; padding-left: 24px; width: 600px; background-color: #ffffff;" bgcolor="#FFFFFF" width="600" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr height="55px" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; height: 55px;">
                  <td class="table-row-td" style="height: 55px; padding-right: 16px; font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; vertical-align: middle;" valign="middle" align="left"><a href="###" style="color: #428bca; text-decoration: none; padding: 0px; font-size: 18px; line-height: 20px; height: 50px; background-color: transparent;"> Newsletter </a></td>
                  <td class="table-row-td" style="height: 55px; font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; text-align: right; vertical-align: middle;" align="right" valign="middle">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <table class="table-space" height="6" style="height: 6px; font-size: 0px; line-height: 0; width: 600px; background-color: #e4e6e9;" width="600" bgcolor="#E4E6E9" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td class="table-space-td" valign="middle" height="6" style="height: 6px; width: 600px; background-color: #e4e6e9;" width="600" bgcolor="#E4E6E9" align="left">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <table class="table-row" width="600" bgcolor="#FFFFFF" style="table-layout: fixed; background-color: #ffffff;" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td class="table-row-td" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding-left: 36px; padding-right: 36px;" valign="top" align="left"><table class="table-col" align="left" width="528" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                      <tbody>
                        <tr>
                          <td class="table-col-td" width="528" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; width: 528px;" valign="top" align="left"><table class="header-row" width="528" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                              <tbody>
                                <tr>
                                  <td class="header-row-td" width="528" style="font-family: Arial, sans-serif; font-weight: normal; line-height: 19px; color: #6397bf; margin: 0px; font-size: 18px; padding-bottom: 8px; padding-top: 10px;" valign="top" align="left">${bean.name}</td>
                                </tr>
                              </tbody>
                          </table></td>
                        </tr>
                      </tbody>
                  </table></td>
                </tr>
              </tbody>
            </table>
            <table class="table-space" height="6" style="height: 6px; font-size: 0px; line-height: 0; width: 600px; background-color: #ffffff;" width="600" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td class="table-space-td" valign="middle" height="6" style="height: 6px; width: 600px; background-color: #ffffff;" width="600" bgcolor="#FFFFFF" align="left">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <table class="table-row" width="600" bgcolor="#FFFFFF" style="table-layout: fixed; background-color: #ffffff;" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td class="table-row-td" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding-left: 36px; padding-right: 36px;" valign="top" align="left"><table class="table-col" align="left" width="528" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                      <tbody>
                        <tr>
                          <td class="table-col-td" width="528" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal;" valign="top" align="left"><table class="table-space" height="12" style="height: 12px; font-size: 0px; line-height: 0; width: 528px; background-color: #ffffff;" width="528" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                <tr>
                                  <td class="table-space-td" valign="middle" height="12" style="height: 12px; width: 528px; background-color: #ffffff;" width="528" bgcolor="#FFFFFF" align="left">&nbsp;</td>
                                </tr>
                              </tbody>
                            </table>
                            下面为订阅信息
                            <table class="table-space" height="16" style="height: 16px; font-size: 0px; line-height: 0; width: 528px; background-color: #ffffff;" width="528" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                <tr>
                                  <td class="table-space-td" valign="middle" height="16" style="height: 16px; width: 528px; background-color: #ffffff;" width="528" bgcolor="#FFFFFF" align="left">&nbsp;</td>
                                </tr>
                              </tbody>
                            </table>
                            <i style="color: #a94442;">Integer eget odio est, eget malesuada lorem:</i>
                            <ul style="margin: 0px; padding: 5px 0px 5px 25px;">
                              <li style="margin: 0px; padding-top: 4px; padding-bottom: 4px;"> Aenean sed tellus dui, vitae viverra risus </li>
                              <li style="margin: 0px; padding-top: 4px; padding-bottom: 4px;"> Nullam massa sapien, pulvinar eleifend fringilla id </li>
                              <li style="margin: 0px; padding-top: 4px; padding-bottom: 0px;"> Convallis eget nisi mauris a sagittis dui </li>
                            </ul>
                            <table class="table-space" height="16" style="height: 16px; font-size: 0px; line-height: 0; width: 528px; background-color: #ffffff;" width="528" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                <tr>
                                  <td class="table-space-td" valign="middle" height="16" style="height: 16px; width: 528px; background-color: #ffffff;" width="528" bgcolor="#FFFFFF" align="left">&nbsp;</td>
                                </tr>
                              </tbody>
                            </table>
                            Pellentesque non lacinia mi. Fusce sit amet libero sit amet erat venenatis sollicitudin vitae vel eros. Cras nunc sapien, interdum sit amet porttitor ut, congue quis urna. </td>
                        </tr>
                      </tbody>
                  </table></td>
                </tr>
              </tbody>
            </table>
           
           <table class="table-space" height="6" style="height: 6px; font-size: 0px; line-height: 0; width: 600px; background-color: #e4e6e9;" width="600" bgcolor="#E4E6E9" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td class="table-space-td" valign="middle" height="6" style="height: 6px; width: 600px; background-color: #e4e6e9;" width="600" bgcolor="#E4E6E9" align="left">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            
            <div style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px;"></div>
   
            <table class="table-row" width="600" bgcolor="#FFFFFF" style="table-layout: fixed; background-color: #ffffff;" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td class="table-row-td" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding-left: 36px; padding-right: 36px;" valign="top" align="left"><table class="table-col" align="left" width="273" style="padding-right: 18px; table-layout: fixed;" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td class="table-col-td" width="255" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal;" valign="top" align="left"><table class="header-row" width="255" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                              <tbody>
                                <tr>
                                  <td class="header-row-td" width="255" style="font-family: Arial, sans-serif; font-weight: normal; line-height: 19px; color: #478fca; margin: 0px; font-size: 12px; padding-bottom: 8px; padding-top: 10px;" valign="top" align="left">微信</td>
                                </tr>
                              </tbody>
                            </table>
                            <div style="font-family: Arial, sans-serif; line-height: 36px; color: #444444; font-size: 13px;"><img src="http://www.canhelp.cn/info/static/images/canhelp.cn.info.weixin.jpg" alt="" width="80" height="80" hspace="0" vspace="0" border="0" class="pull-right" style=""></div></td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table-col" align="left" width="255" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                      <tbody>
                        <tr>
                          <td class="table-col-td" width="255" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal;" valign="top" align="left"><table class="header-row" width="255" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                              <tbody>
                                <tr>
                                  <td class="header-row-td" width="255" style="font-family: Arial, sans-serif; font-weight: normal; line-height: 12px; color: #478fca; margin: 0px; font-size: 12px; padding-bottom: 8px; padding-top: 10px;" valign="top" align="left">联系我们</td>
                                </tr>
                              </tbody>
                            </table>
                            <p>web: <a href="http://www.canhelp.cn/info" target="_blank" style="color: #8aafce; text-decoration: none; margin: 0px; text-align: center; ">http://www.canhelp.cn/info</a><br>
                            Email: h81900[括号换成@]outlook.com<br>
                            QQ : 84579197</p></td>
                        </tr>
                      </tbody>
                  </table></td>
                </tr>
              </tbody>
            </table>
            <table class="table-space" height="16" style="height: 16px; font-size: 0px; line-height: 0; width: 600px; background-color: #ffffff;" width="600" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td class="table-space-td" valign="middle" height="16" style="height: 16px; width: 600px; background-color: #ffffff;" width="600" bgcolor="#FFFFFF" align="left">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <table class="table-space" height="6" style="height: 6px; font-size: 0px; line-height: 0; width: 600px; background-color: #e4e6e9;" width="600" bgcolor="#E4E6E9" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td class="table-space-td" valign="middle" height="6" style="height: 6px; width: 600px; background-color: #e4e6e9;" width="600" bgcolor="#E4E6E9" align="left">&nbsp;</td>
                </tr>
              </tbody>
          </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>