/*
积累的好用的CSS

*/

body,td,th {

	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 140%;
    font-family: 宋体; 
    color: #00304A;
	
}

.input {
	width:150px;
	border:1px solid #C2D5FC;
}
/*
颜色为超级连接色

*/
.urlcolor {
color: #0000CC
}

/*段首空两个汉字*/
.paragraph {
	line-height: 21px;
	padding: 10px;
	text-indent: 20px;
}

/*
标题颜色
*/
.title {
	color: #990000;
	font-weight: bold;
}

/*
自定义链接样式
*/
.link_white:link {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}
.link_white:hover {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}
.link_white:visited {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}
.link_white:active {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}
